<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ECommerceDatabase" connectionString="Data Source=LAPTOP-UURJBJUT;Initial Catalog=ECommerceDatabase;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="ECommerceServiceLibrary.ECommerceService">
				<endpoint address="http://localhost:8734/ECommerceServiceLibrary/ECommerceService/" binding="basicHttpBinding" contract="ECommerceServiceLibrary.IECommerceService" />
				<endpoint address="http://localhost:8734/ECommerceServiceLibrary/ECommerceService/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>